{% extends "base.html" %}

{% block title %}Lista de Produtos{% endblock %}

{% block stylesheet %}

{% endblock %}
	
{% block javascript %}

{% endblock %}

{% block content %}

<center>
<table border="2">
	<tr>
		<td>!</td>
		<td><h1>Produto</h1></td>
	</tr>
	{% for produto in produtos %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td>!!!</td>
			<td><center><a href='/sme2/alarme/{{ produto.prd_id }}'>{{ produto.prd_nome }}</a></center></td>
		</tr>
	{% endfor %}
</table>
</center>
{% endblock %}





