{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block stylesheet %}

{% endblock %}
	
{% block javascript %}

{% endblock %}

{% block content %}

<center>
<table border="2">
	<tr>
		<td><center><h2>Produto</h2></center></td>
		<td><center><h2>Alarmes</h2></center></td>
	</tr>
	{% for produto_alarmes in produtos_alarmes %}
		<tr>
			{% ifequal produto_alarmes.produto.prd_status 'W' %}
				<th class='sme2-produto' rowspan='{{ produto_alarmes.alarmes.count|add:"1" }}' bgcolor='{{ colors.warning }}'><center>{{ produto_alarmes.produto.prd_nome }}</center></th>
				<td bgcolor='{{ colors.warning }}'></td>
			{% endifequal %}
			{% ifequal produto_alarmes.produto.prd_status 'A' %}
				<th class='sme2-produto' rowspan='{{ produto_alarmes.alarmes.count|add:"1" }}' bgcolor='{{ colors.alarm }}'><center>{{ produto_alarmes.produto.prd_nome }}</center></th>
				<td bgcolor='{{ colors.alarm }}'></td>
			{% endifequal %}
				<!-- Lista de alarmes por produtos -->
				{% for alarme in produto_alarmes.alarmes %}
					{% ifequal alarme.alm_status 'W' %}
						<tr><td class='sme2-alarme' bgcolor='{{ colors.warning }}'><a href='/sme2/monitor/{{alarme.alm_id}}'>{{ alarme.alm_nome }}</a></td></tr>
					{% endifequal %}
					{% ifequal alarme.alm_status 'A' %}
						<tr><td class='sme2-alarme' bgcolor='{{ colors.alarm }}'><a href='/sme2/monitor/{{alarme.alm_id}}'>{{ alarme.alm_nome }}</a></td></tr>
					{% endifequal %}					
				{% endfor %}


		</tr>
	{% endfor %}
</table>
</center>

{% endblock %}

