{% extends "base.html" %}

{% block title %}Eventos do monitor {{ monitor.mon_nome }}{% endblock %}

{% block stylesheet %}

{% endblock %}
	
{% block javascript %}

{% endblock %}

{% block content %}
<center>
<table border="2">
	<tr>
		<td colspan="{{colunas_desc|length|add:'1'}}"><center><h2>{{alarme.alm_nome}}>{{monitor.mon_nome}}</h2></br><h3><a href='/sme2/monitor/alarme/{{alarme.alm_id}}'>Voltar</a></h3></center></td>
	</tr>
	<tr>
		<th><center>!</center></th>
	{% for coluna in colunas_desc %}
		<th><center>{{coluna}}</center></th>
	{% endfor %}
	</tr>
	{% for evento in eventos %}
		{% ifequal evento.tipo 'W' %}
			<tr bgcolor='{{ colors.warning }}'>
		{% endifequal %}
		{% ifequal evento.tipo 'A' %}
			<tr bgcolor='{{ colors.alarm }}'>
		{% endifequal %}
			<td bgcolor='white'><a href='/sme2/evento/fechar/{{evento.monitor.mon_id}}/{{evento.id}}'><img src=/media/images/icon-yes.gif border=0></a></td>
			<td class="sme2-evento">{{evento.get_data_hora_formatada}}</td>
			<td class="sme2-evento">{{evento.servidor}}</td>
			{% for dado in evento.get_dados %}
				<td class="sme2-evento">{{dado}}</td>
			{% endfor %}
		<tr>
	{% endfor %}
</table>
</center>

{% endblock %}




