
<center>
	<table>
		<tr><td><center><h3>{{produto.prd_nome}}>{{alarme.alm_nome}}>{{monitor.mon_nome}}</h3></center></td></tr>
		<tr>
			<td><center>
				<div id="id-relatorio-tooltip"><a>Parar saber como dar zoom no gráfico clique em </a>&nbsp;<a id="id-info-tooltip" href='#' onclick="window.open('/relatorio/info/', 'info', 'location=no, tollbars=no, status=no, scrollbars=yes, resizable=yes, menubar=no, height=520, width=650')"><img height=20 width=20 src=/media/images/question_mark_icon_02_b.gif border=0></a></div>
			</center></td>
		</tr>
		<tr><td><center>{{ html_grafico|safe }}</center></td></tr>
	<table>
</center>
