
<center>
<table border="2">
	<tr>
		<td colspan="{{colunas_desc|length|add:'1'}}">
			<center><h3>{{produto.prd_nome}}>{{alarme.alm_nome}}>{{monitor.mon_nome}}</h3></center></br>
	</tr>
	<tr>
		<th><center>!</center></th>
	{% for coluna in colunas_desc %}
		<th><center>{{coluna}}</center></th>
	{% endfor %}
	</tr>
	{% for evento in eventos %}
		{% ifequal evento.tipo 'W' %}
			<tr bgcolor='{{ colors.warning }}'>
		{% endifequal %}
		{% ifequal evento.tipo 'A' %}
			<tr bgcolor='{{ colors.alarm }}'>
		{% endifequal %}
		{% ifequal evento.tipo 'X' %}
			<tr bgcolor='{{ colors.normal }}'>
		{% endifequal %}		
			<td bgcolor='white'>{{evento.id}}</td>
			<td class="sme2-evento">{{evento.get_data_hora_formatada}}</td>
			<td class="sme2-evento">{{evento.servidor}}</td>
			{% for ordem, metadado in evento.metadados.items %}
				<td class="sme2-evento">{{metadado.valor}}</td>
			{% endfor %}
		<tr>
	{% endfor %}
</table>
</center>


