{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}


{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/css/modelo_admin_b.css" />

<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="/media/js/prototype.js"></script>
<script type="text/javascript" src="/media/js/scriptaculous.js?load=effects,dragdrop"></script>
<script type="text/javascript" src="/media/js/portal.js"></script>

<script type="text/javascript">

  var settings = {};
  var portal;

	{% if modelo_settings_json %}
			settings = {{ modelo_settings_json|safe }}
	{% endif %}
	
	/*Atualiza o id do div passado como parametro*/
	function update_div(div_name, url) {
		new Ajax.Request(url, {
			asynchronous:true, 
			method : 'get', 
			parameters:{},
			insertion: Insertion.Bottom,
			onComplete: function(transport) {
				$(div_name).innerHTML = transport.responseText;
				portal = new Portal();
				portal.applySettings(settings);
				new Draggable('portal-column-block-list', { scroll: window });
				obter_estado();
			}
		}); return false;
	}

	function update_css(id_name, template_id_selecionado, url) {
		new Ajax.Request(url, {
			asynchronous:true, 
			method : 'get', 
			parameters:{},
			insertion: Insertion.Bottom,
			onComplete: function(transport) {
				var mycss= document.getElementById(id_name);
				obtemTemplate(template_id_selecionado);
			}
		}); return false;
	}

	function loadjscssfile(filename, filetype){
	 if (filetype=="js"){ //if filename is a external JavaScript file
	  var fileref=document.createElement('script')
	  fileref.setAttribute("type","text/javascript");
	  fileref.setAttribute("src", filename);
	 }
	 else if (filetype=="css"){ //if filename is an external CSS file
	  var fileref=document.createElement("link")
	  fileref.setAttribute("rel", "stylesheet");
	  fileref.setAttribute("type", "text/css");
	  fileref.setAttribute("id", "id-css-template-selecionado");
	  fileref.setAttribute("href", filename);
	 }
	 if (typeof fileref!="undefined")
	  document.getElementsByTagName("head")[0].appendChild(fileref)
	}
	
	function init() {
		//template_id_selecionado = $F(id_template);
		/*
		var form = $('modelo_form')
		var template_id_selecionado = form.template.value;
		obtemTemplate(template_id_selecionado);
		*/
		//$('id_metadado').hide();
		//m = $('content-main').getElementsByClassName("form-row metadado  ");
		m = document.getElementsByClassName("form-row metadado  ");
		//console.log(m);
		//m.hide();
		Event.observe('id_template', 'change', trataTemplate, false);
		trataTemplate();
		
	}
	
	function trataTemplate() {
		
		var form = $('modelo_form')
		var template_id_selecionado = form.template.value;

		if (template_id_selecionado == "") {
			$('portal-block-list-link').hide();
			template_id_selecionado = 0;
			/* funcao para remover os widgets e adicionar na listagem */
			limpaWidgets();
			$('id-template-ajax').innerHTML = "";
			$('id-css-template-selecionado').remove();
		}else{
			//obtemTemplateCss(template_id_selecionado);
			mycss = document.getElementById('id-css-template-selecionado');
			if (mycss) {
				$('id-css-template-selecionado').remove();
			}
			$('portal-block-list-link').show();
			loadjscssfile('/modelo/template/css/'+ template_id_selecionado, 'css');
			obtemTemplate(template_id_selecionado);
			alert('Clique em "Adicionar visão" para criar o seu modelo');
		}
	}
	
	/* funcao para remover os widgets e adicionar na listagem */
	function limpaWidgets() {
		//console.log('limpa widgets chamado');
		var widgets = document.getElementsByClassName('block', 'template-ajax');
		widgets.each(
	      function (widget) {
				//console.log('removendo widget -> ' + widget);
				$('portal-column-block-list').appendChild($(widget));
	      }.bind(this)
	    );
		obter_estado();
		//Limpar settings
		limpaSettings();

		
	}
	
	function limpaSettings() {
		//console.log('limpa settings chamado');
		settings = {};
		//console.log('settings ->' + settings);
		var containers = document.getElementsByClassName('portal-column');
		containers.each(
	      function (container) {
				container_id = container.id;
				if (container_id != 'portal-column-block-list') {
					//console.log(container_id);
					settings[container_id] = [];
				}
	      }.bind(this)
	    );
		//console.log('settings ->' + settings);
	}
	
	/* obtem o template passado como parametro */
	function obtemTemplate(template_id) {
		update_div('id-template-ajax','/modelo/template/' + template_id);
	}
	
	/* obtem o css do template passado como parametro */
	function obtemTemplateCss(template_id) {
		update_css('id-css-template-selecionado', template_id, '/modelo/template/css/' + template_id);
	}
	
	Event.observe(window, 'load', init, false);
	
	
</script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="loading" align="right" style="display:none"><img src="/media/images/spinner.gif"/></div>
<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>

<!-- personalizacao comeca aqui -->
{% if mostrar_escolha_modelos %}

<!-- ############# -->
<center id="portal-block-list-link">
	<h1>Crie o seu modelo</h1>
	<div id="id-adicionar-visao">Adicionar visão</div>
</center><br>

<!-- div onde sera carregado o template selecionado -->
<div class="template-ajax" id="id-template-ajax">
</div>

<br><br>
<!--
	      <div class="portal-column" id="portal-column-0">
			<h2>Coluna 0</h2>
		  </div>
	      <div class="portal-column" id="portal-column-1">
			<h2>Coluna 1</h2>
		  </div>
	      <div class="portal-column" id="portal-column-bottom">
			<h2>Rodapé</h2>
		  </div>
-->
			<!--div class="portal-column" id="portal-column-block-list" style="display: none;"-->
			<div class="portal-column" id="portal-column-block-list" style="display: none;">
				<h2 class="block-list-handle">Visões</h2>
				<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
				
				<!-- Visoes vao aqui-->
				{% for widget in my_widgets %}
				<!-- Visao {{ widget.nome }} -->
				<div class="block" id="block-{{ widget.nome }}">
					<h3 class="handle"><a class="block-delete"></a><a class="block-toggle"><span>toogle</span></a>{{ widget.descricao }}</h3>
					<div class="content">
						<CENTER>
						<iframe name="iframe_{{ widget.nome }}" src="/media/images/preview/{{ widget.nome}}.jpg" frameborder="0" width="{{ widget.width }}" height="{{ widget.height }}"></iframe>
						</CENTER>
					</div>
				</div>
				<!-- fim visao {{ widget.nome }}-->
				{% endfor %}

			</div>
<!-- ############# -->
<!-- fim do modelo-->
{% endif %}

<!-- template ajax -->
<br>
<center>

</center>
<!-- fim template ajax -->
</form>
</div>
<!-- fim div content-main -->

{% endblock %}
