
<center>| <a href="#" id="portal-block-list-link">Adicionar visão</a> | 
	<!--a href="#" onclick="obtem_estado();">salvar ordem</a--></center><br />
	<!-- inicio do portal -->
	<!--div id="portal"-->
	      <div class="portal-column" id="portal-column-0">
			<h2>Coluna 0</h2>
		  </div>
	      <div class="portal-column" id="portal-column-1">
			<h2>Coluna 1</h2>
		  </div>
	      <!--div class="portal-column" id="portal-column-2">
			<h2>Coluna 2</h2>
		  </div-->
	      <div class="portal-column" id="portal-column-bottom">
			<h2>Rodapé</h2>
		  </div>
			<!--div class="portal-column" id="portal-column-block-list" style="display: none;"-->
			<div class="portal-column" id="portal-column-block-list" style="display: none;">
				<h2 class="block-list-handle">Visões</h2>
				<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
				<!-- Visoes vao aqui-->
				<!-- Visao tabular-->
				<div class="block" id="block-tabular">
					<h3 class="handle"><a class="block-delete"></a><a class="block-toggle"><span>toogle</span></a>Visão tabular</h3>
					<div class="content">
						<CENTER>
						<iframe name="iframe_sm2" src="/sme2/" frameborder="0" width="98%" height="400"></iframe>
						</CENTER>
					</div>
				</div>
				<!-- fim visao tabular-->
				
				<!-- Visao hierarquica-->
				<div class="block" id="block-hierarquica">
					<h3 class="handle"><a class="block-delete"></a><a class="block-toggle"><span>toogle</span></a>Visão hierárquica</h3>
					<div class="content">
						<CENTER>
						<iframe name="iframe_hierarquica" src="/hiperbolica/" frameborder="0" width="98%" height="600"></iframe>
						</CENTER>
					</div>
				</div>
				<!-- fim visao hierarquica-->
				
				<!-- Visao relatorio-->
				<div class="block" id="block-relatorio">
					<h3 class="handle"><a class="block-delete"></a><a class="block-toggle"><span>toogle</span></a>Visão relatório</h3>
					<div class="content">
						<CENTER>
						<iframe name="iframe_relatorio" src="/relatorio/" frameborder="0" width="98%" height="400"></iframe>
						</CENTER>
					</div>
				</div>
				<!-- fim visao relatorio-->
			</div>
	
	<!--/div--> 
	<!-- fim do div portal -->
	<input type=hidden id="ordem-modelo" name="ordem" value="">
