{% extends "base.html" %}

{% block title %}CWA{% endblock %}

{% block stylesheet %}
<style type="text/css">

	#menu {
		background: white;
		text-align: left;
		/*position: fixed;*/
	}
	
	#portal {
		/*margin: 1px auto;*/
		padding: 1px;
		/*position: relative;*/
		position: left;
		width:100%;
		border: 1px solid;
		background: white;
		font-family: verdana, arial, sans-serif;
		font-size: 10px;
	}

	#portal h2 {
	  /*color: black;*/
	  text-align: center;
	}
	
	#portal-column-0 { 
	  float:left;
	  width: 41%;  
	  background: WhiteSmoke;
	}

	#portal-column-1 {
	  float:left;
	  width: 58%;
	  background: WhiteSmoke;
	}   

	#portal-column-2 { 
	  float:left;
	  width: 21%;  
	  background: WhiteSmoke;
	}

	#portal-column-bottom { 
	  width: 99%;
	  background: WhiteSmoke;
	  clear: both;
	}

    /*lista das visoes */
	#portal-column-block-list { 
	  position: absolute;
	  width: 200px;
	  right: 5px;
	  left: 5px;
	  z-index: 10;
	  background-color: #FFEAB1;
	}
	
	.portal-column {
		margin: 1px auto;
		font-style: italic;
		background-color: WhiteSmoke;
		border: 1px solid;
		color: black;
	}

	/* Definicoes dos boxes das visoes */
	#portal .block {
	  margin: 1px;
	  padding: 2px;
	  border: 0px solid #0F3974;
	}
	#portal .block h3 {
	  margin: 0;
	  padding: 5px;
	  font-size: 14px;
	  text-align: center;
	  color: #fff;
	  background-color: CornflowerBlue;
	}

	#portal .block .content {
	  padding: 5px;
	}

/*
	nao precisa na interface para o usuario
*/
	#portal .block .block-toggle {
	  background-image: url(/media/images/block-slide.png);
	  display: block;
	  float: right;
	  width: 7px;
	  height: 7px;
	  background-repeat: no-repeat;
	  background-position: center;
	  cursor: pointer;
	}

	#portal .block-info {
		position: absolute;
		right:30px;
	}
	
	/* Fim das visoes */

	/* inicio */

	#portal .block .block-toggle span {
	  display: none;
	}

	#portal .block-hover {
	  border: 1px dashed #f00;
	}

/*
	nao precisa na interface para o usuario
	#portal .block-list-handle, #portal .handle {
	  cursor: move;
	}
*/
	#portal #portal-column-block-list .block .block-toggle {
	  display: none;
	}

	/*escondo conteudo dos box das visoes no container com a lista de visoes disponiveis */
	#portal #portal-column-block-list .block .content {
	  display: none;
	}

</style>

{% endblock %}
	
{% block javascript %}

<script type="text/javascript" src="/media/js/portal.js"></script>
<script type="text/javascript" src="/media/js/cwa.js"></script>

<script type="text/javascript">
	var settings = {{ settings|safe }}
	var portal;

	Event.observe(window, 'load', init, false);
</script>


{% endblock %}

{% block content %}
<div id="menu">
	<a href='#monitoracao'>Console Monitoração</a> | 
	<a href='#relatorio'>Relatório</a>
</div>
<!--center><a href="#" id="portal-block-list-link">Adicionar visão</a></center><br /-->

<div id="portal">
      <div class="portal-column" id="portal-column-0">
	  </div>
      <div class="portal-column" id="portal-column-1">
	  </div>
      <!--div class="portal-column" id="portal-column-2">
		<h2>Coluna 2</h2>
	  </div-->
      <div class="portal-column" id="portal-column-bottom"></div>

		<!--div class="portal-column" id="portal-column-block-list" style="display: none;"-->
		<div class="portal-column" id="portal-column-block-list" style="display: none;">
			<h2 class="block-list-handle">Visões</h2>
			<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
			<!-- Visoes vao aqui-->
			<!-- Visao tabular-->
			<div class="block" id="block-tabular">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="monitoracao">Visão tabular</a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_sme2" name="iframe_sme2" src="/sme2/" frameborder="0" scrolling="auto" width="98%" height="800"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao tabular-->
			
			<!-- Visao hierarquica-->
			<div class="block" id="block-hierarquica">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="hierarquica">Visão hierárquica</a><a class="block-info" href='#' onclick="window.open('/hiperbolica/info/', 'info', 'location=no, tollbars=no, status=no, scrollbars=no, resizable=yes, menubar=no, height=300, width=600')"><img height=20 width=20 src=/media/images/info.gif border=0></a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_hierarquica" name="iframe_hierarquica" src="/hiperbolica/" frameborder="0"  scrolling="auto" width="98%" height="600"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao hierarquica-->
			
			<!-- Visao relatorio-->
			<div class="block" id="block-relatorio">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="relatorio">Visão relatório</a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_relatorio" name="iframe_relatorio" src="/relatorio/" frameborder="0" scrolling="auto" width="98%" height="1000"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao relatorio-->
		</div>

</div> <!-- fim do div portal -->


{% endblock %}





