{% extends "base.html" %}

{% block title %}MonViS{% endblock %}

{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/media/css/cwa.css" />

<!--link rel="stylesheet" type="text/css" href="/media/css/modelo/{{ template.nome_arquivo_css }}"/-->

{% endblock %}
	
{% block javascript %}

<script type="text/javascript" src="/media/js/portal.js"></script>
<script type="text/javascript" src="/media/js/cwa.js"></script>

<script type="text/javascript">
	var settings = {{ settings|safe }}
	var portal;

	Event.observe(window, 'load', init, false);
</script>


{% endblock %}

{% block content %}
<!--center><a href="#" id="portal-block-list-link">Adicionar visão</a></center><br /-->
<div id="id-menu">
{% for widget in my_widgets %}
<a id ="id-menu-block-{{ widget.nome }}" href='#{{ widget.nome }}'>{{ widget.descricao }}</a> |
{% endfor %}
</div>

<div id="portal">
	<!--
      <div class="portal-column" id="portal-column-0">
	  </div>
      <div class="portal-column" id="portal-column-1">
	  </div>
      <div class="portal-column" id="portal-column-bottom"></div>
	-->
	{% include template_nome %}
	
		<div class="portal-column" id="portal-column-block-list" style="display: none;">
			<h2 class="block-list-handle">Visões</h2>
			<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
			<!-- Visoes vao aqui-->
			
			{% for widget in my_widgets %}
			<!-- Visao {{ widget.nome }} -->
			<div class="block" id="block-{{ widget.nome }}">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="{{ widget.nome }}">{{ widget.descricao }}</a>
				{% if widget.url_ajuda %}
				<a class="block-info" href='#' onclick="window.open('{{ widget.url_ajuda }}', 'info', 'location=no, tollbars=no, status=no, scrollbars=yes, resizable=yes, menubar=no, height=520, width=650')"><img height=20 width=20 src=/media/images/question_mark_icon_02_b.gif border=0></a>
				{% endif %}
				</h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_{{ widget.nome }}" name="iframe_{{ widget.nome }}" src="{{ widget.url }}" frameborder="0" scrolling="auto" width="{{ widget.width }}" height="{{ widget.height }}"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao {{ widget.nome }}-->
			{% endfor %}
				
			<!-- fim das visoes -->
		</div>

</div> <!-- fim do div portal -->


{% endblock %}





