{% extends "base.html" %}

{% block title %}CWA{% endblock %}

{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/media/css/cwa.css" />

{% endblock %}
	
{% block javascript %}

<script type="text/javascript" src="/media/js/portal.js"></script>
<script type="text/javascript" src="/media/js/cwa.js"></script>

<script type="text/javascript">
	var settings = {{ settings|safe }}
	var portal;

	Event.observe(window, 'load', init, false);
</script>


{% endblock %}

{% block content %}
<!--div id="menu">
	<a href='#monitoracao'>Console Monitoração</a> | 
	<a href='#relatorio'>Relatório</a>
</div-->
<!--center><a href="#" id="portal-block-list-link">Adicionar visão</a></center><br /-->

<div id="portal">
      <div class="portal-column" id="portal-column-0">
	  </div>
      <div class="portal-column" id="portal-column-1">
	  </div>
      <!--div class="portal-column" id="portal-column-2">
		<h2>Coluna 2</h2>
	  </div-->
      <div class="portal-column" id="portal-column-bottom"></div>

		<!--div class="portal-column" id="portal-column-block-list" style="display: none;"-->
		<div class="portal-column" id="portal-column-block-list" style="display: none;">
			<h2 class="block-list-handle">Visões</h2>
			<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
			<!-- Visoes vao aqui-->
			<!-- Visao tabular-->
			<div class="block" id="block-tabular">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="monitoracao">Visão tabular</a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_sme2" name="iframe_sme2" src="/sme2/" frameborder="0" scrolling="auto" width="98%" height="800"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao tabular-->
			
			<!-- Visao hierarquica-->
			<div class="block" id="block-hierarquica">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="hierarquica">Visão hierárquica</a><a class="block-info" href='#' onclick="window.open('/hiperbolica/info/', 'info', 'location=no, tollbars=no, status=no, scrollbars=yes, resizable=yes, menubar=no, height=520, width=630')"><img height=20 width=20 src=/media/images/info.gif border=0></a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_hierarquica" name="iframe_hierarquica" src="/hiperbolica/" frameborder="0"  scrolling="auto" width="98%" height="800"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao hierarquica-->
			
			<!-- Visao relatorio-->
			<div class="block" id="block-relatorio">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="relatorio">Visão relatório</a><a class="block-info" href='#' onclick="window.open('/relatorio/info/', 'info', 'location=no, tollbars=no, status=no, scrollbars=yes, resizable=yes, menubar=no, height=520, width=630')"><img height=20 width=20 src=/media/images/info.gif border=0></a></h3>
				<div class="content">
					<CENTER>
					<iframe id="id_frame_relatorio" name="iframe_relatorio" src="/relatorio/" frameborder="0" scrolling="auto" width="98%" height="1000"></iframe>
					</CENTER>
				</div>
			</div>
			<!-- fim visao relatorio-->
		</div>

</div> <!-- fim do div portal -->


{% endblock %}





