{% extends "base.html" %}

{% block title %}Ajuda - Visao hierarquica{% endblock %}

{% block stylesheet %}

	<style type="text/css">

body { 
  margin:10px; 
  padding:0; 
  font-size:14px; 
  font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; 
  color:gray; 
  background:black; 
}

</style>

{% endblock %}
	
{% block javascript %}

{% endblock %}

{% block content %}
<center>
<div id='tooltip'><h2>Ajuda - Visão hierárquica</h2><br>
</center>	
	<ol>
		<li>Para alterar o foco da árvore basta clicar no elemento do seu interesse (figura 1).</li>
		<li>O diâmetro dos círculos refletem a quantidade eventos.</li>
	</ol>
	<center>
	<img width=400 height=362 src=/media/images/arvore_hiperbolica.jpg border=0><br>
	Figura 1 - Alterando o foco e contexto
	</center>
</div>
{% endblock %}

