{% extends "base.html" %}

{% block title %}Relatorio{% endblock %}

{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />

<style type="text/css">

#portal {
	padding: 1px;
	position: left;
	width:100%;
	border: 1px solid;
	background: black;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}


#conteudo {
	margin: 0px auto;
	padding: 1px;
	/*position: relative;*/
	width:100%;
	border: 0px solid;
	background: black;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}

#colunas {
	margin: 1px auto;
	border: 0px solid;
	text-align: center;
}

#relatorio {
	margin: 1px auto;
	border: 0px solid;
	text-align: center;
	background: black;
}

	/* Definicoes dos boxes das visoes */
	#portal .block {
	  margin: 1px;
	  padding: 2px;
	  border: 0px solid #0F3974;
	}
	#portal .block h3 {
	  margin: 0;
	  padding: 5px;
	  font-size: 14px;
	  text-align: center;
	  color: #fff;
	  background-color: CornflowerBlue;
	}

	#portal .block .content {
	  padding: 5px;
	}

/*
	nao precisa na interface para o usuario
*/
	#portal .block .block-toggle {
	  background-image: url(/media/images/block-slide.png);
	  display: block;
	  float: right;
	  width: 7px;
	  height: 7px;
	  background-repeat: no-repeat;
	  background-position: center;
	  cursor: pointer;
	}

	/* Fim das visoes */

	/* inicio */

	#portal .block .block-toggle span {
	  display: none;
	}

	#portal .block-hover {
	  border: 1px dashed #f00;
	}

	#portal #portal-column-block-list .block .block-toggle {
	  display: none;
	}

	/*escondo conteudo dos box das visoes no container com a lista de visoes disponiveis */
	#portal #portal-column-block-list .block .content {
	  display: none;
	}
</style>

{% endblock %}
	
{% block javascript %}
<script src="/media/js/jsi18n.js" type="text/javascript"></script>
<script src="/media/js/core.js"></script>
<script src="/media/js/application.js" type="text/javascript"></script>
<script src="/media/js/dateparse.js"></script>
<script src="/media/js/timeparse.js"></script>
<script src="/media/js/calendar.js"></script>
<script src="/media/js/admin/DateTimeShortcuts.js" type="text/javascript"></script>
<script src="/media/js/sme2_relatorio.js"></script>

<script type="text/javascript">
	var produtos_alarmes_json = {{ produtos_alarmes|safe }}
	var alarmes_monitores_json = {{ alarmes_monitores|safe }}

	/*Funcao para adicionar o efeito do slide nos boxes*/
	function init() {
		//console.log("body loaded")
		
		this.options = {
	      portal: 'portal',
	      column: 'portal-column',
	      block: 'block',
	      content: 'content',
	      handle: 'handle',
	      hoverclass: 'block-hover',
	      toggle: 'block-toggle',
	      blocklist: 'portal-column-block-list',
	      blocklistlink: 'portal-block-list-link',
	      blocklisthandle: 'block-list-handle',
	    }
	
	    var blocks = document.getElementsByClassName(
	      this.options.block, this.options.portal
	    );
	    blocks.each(
	      function (block) {
	        var content = Element.childrenWithClassName(
	          block, this.options.content, true
	        );

	        var toggle = Element.childrenWithClassName(
	          block, this.options.toggle, true
	        );
	        Event.observe(
	          toggle, 'click', 
	          function (e) { Effect.toggle(content, 'Slide'); },
	          false
	        );

	      }.bind(this)
	    );
		
		for (var container in settings) {
	      settings[container].each(function (block) {
	        $(container).appendChild($(block));
	      });
	    }

	}
	Event.observe(window, 'load', init, false);

</script>


{% endblock %}

{% block content %}
<div id="portal">
	<div class="block" id="block-relatorio">
		<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="relatorio">Relatorio</a></h3>
		<div class="content">
			{% if erro %}
			<center><h2><font color=red>Por favor, preenche todos os campos</font></h2></center>
			{% endif %}
			<form name='frm' method=POST action=''>
				<span>Produto/Alarme/Monitor: </span><br>
				<!-- produto -->
				<select name=produto onChange='adicionaAlarmes(this.options[this.selectedIndex].value);'>
					<option value="0">[Selecione um produto]</option>
					{% for produto in produtos %}
						<option id="prd_{{ produto.prd_id }}" value="{{ produto.prd_id }}" {% ifequal produto.prd_id|safe request.POST.produto|safe %} selected{% endifequal %}>{{ produto.prd_nome }}</option>
					{% endfor %}
				</select>
				
				<!-- alarme -->
				<select name=alarme onChange='adicionaMonitores(this.options[this.selectedIndex].value);'>
					{% if alarmes %}
						<option value="0">[Selecione um alarme]</option>
						{% for alarme in alarmes %}
								<option id="alm_{{ alarme.prd_id }}" value="{{ alarme.alm_id }}" {% ifequal alarme.alm_id|safe request.POST.alarme|safe %} selected{% endifequal %}>{{ alarme.alm_nome }}</option>
						{% endfor %}
					{% else %}
							<option value="0" selected>[Selecione um alarme]</option>
					{% endif %}
				</select>
				<!-- monitor -->
				<!--select name=monitor onChange='document.frm.submit();'-->
				<select name=monitor onChange=''>
					{% if monitores %}
						<option value="0">[Selecione um monitor]</option>
						{% for monitor in monitores %}
							<option id="mon_{{ monitor.mon_id }}" value="{{ monitor.mon_id }}" {% ifequal monitor.mon_id|safe request.POST.monitor|safe %} selected{% endifequal %}>{{ monitor.mon_nome }}</option>
						{% endfor %}
					{% else %}
						<option value="0" selected>[Selecione um monitor]</option>
					{% endif %}
				</select>
				<!-- Periodo -->
				<h2><center>Período</center></h2>
				<table>
				<tr>
					<th>Início:</th>
					<td><input id="id_data_inicio" type="text" class="vDateField" name="data_inicio" size="10" value="{{request.POST.data_inicio}}"/></td>
				</tr>
				<tr>
					<th>Término:</th>
					<td><input id="id_data_fim" type="text" class="vDateField" name="data_fim" size="10" value="{{request.POST.data_fim}}"/></td>
				</tr>
				</table>
				<center><input type="submit" value="gerar relatório"></center>
			</form>
			</br>
			<div id="colunas"></div>
		</div>
	</div>
	<div id="relatorio">
		{% if relatorio %}
			{{ relatorio.get_html|safe }}
		{% endif %}
	</div>

</div>


{% endblock %}

