{% extends "base.html" %}

{% block title %}Monitores do alarme {{ alarme.alm_nome }}{% endblock %}

{% block stylesheet %}
<style type="text/css">

	#content { 
	  float:left;
	  width: 100%;
	  position: relative;
	  border: 2px solid;
	  background: WhiteSmoke;
	}
	
	#monitores { 
	  float:left;
	  width: 28%;  
	  background: WhiteSmoke;
	}

	#eventos {
	  float:left;
	  /*width: 70%;*/
	  background: WhiteSmoke;
	}   

</style>
{% endblock %}
	
{% block javascript %}

{% endblock %}

{% block content %}
<center>
<div id="content">
<div id="monitores">
<table border="2">
	<tr>
		<td>
			<center><h3>{{produto.prd_nome}}>{{alarme.alm_nome}}</h3></br>
			<h3><a href='/sme2'>Voltar</a></h3></center>
		</td>
	</tr>
	{% for monitor in monitores %}
		<tr>
			{% ifequal monitor.mon_status 'W' %}
				<th class='sme2-monitor' bgcolor='{{ colors.warning }}'><center><a href='/sme2/evento/monitor/{{ monitor.mon_id }}'>{{ monitor.mon_nome }}</a></center></th>
			{% endifequal %}
			{% ifequal monitor.mon_status 'A' %}
				<th class='sme2-monitor' bgcolor='{{ colors.alarm }}'><center><a href='/sme2/evento/monitor/{{ monitor.mon_id }}'>{{ monitor.mon_nome }}</a></center></th>
			{% endifequal %}
		</tr>
	{% endfor %}
</table>
</div>
<div id="eventos"></div>
</div>
</center>

{% endblock %}





