{% extends "base.html" %}

{% block title %}Eventos do monitor {{ monitor.mon_nome }}{% endblock %}

{% block stylesheet %}

{% endblock %}
	
{% block javascript %}

<!-- 

Ex.: http://datacenter.globoi.com/server.cgi?fg=00ff00&targets=riosf17

<script type="text/javascript" src="http://shots.snap.com/ss/4875920ca1711aba7e6262f1532d5f19/snap_shots.js"></script> 
	
-->

<script type="text/javascript">

	
	function init() {

		Event.observe('id-evento-nova-janela', 'click', novaJanela, false);
		trataTemplate();
		
	}
	
	function novaJanela() {
		window.open('#', 'evento', 'location=no, tollbars=no, status=no, scrollbars=yes, resizable=yes, menubar=no');
	}

	Event.observe(window, 'load', init, false);
	
	
</script>

{% endblock %}

{% block content %}
<center>
<table border="2">
	<tr>
		<td colspan="{{relatorio.descricao_colunas|length|add:'1'}}">
			<div id="id-acoes">
				<div class="sme2_evento_botao" id="id-evento-nova-janela">Maximizar</div>
				<div class="sme2_evento_botao_espaco"></div>
				<div class="sme2_evento_botao" id="id-evento-voltar"><a href='/sme2/'>Voltar</a></div>
			</div>
	<div class="sme2_breadcrumb"><br><h3>{{relatorio.produto.prd_nome}}>{{relatorio.alarme.alm_nome}}>{{relatorio.monitor.mon_nome}}</h3></div>
			<h3 class="sme2-voltar"><a href='/sme2/'>Voltar</a></h3></td>
	</tr>
	<tr>
		<th><center>!</center></th>
	{% for coluna in relatorio.descricao_colunas %}
		<th><center>{{coluna}}</center></th>
	{% endfor %}
	</tr>
	{% for evento in relatorio.eventos %}
		{% ifequal evento.tipo 'W' %}
			<tr bgcolor='{{ colors.warning }}'>
		{% endifequal %}
		{% ifequal evento.tipo 'A' %}
			<tr bgcolor='{{ colors.alarm }}'>
		{% endifequal %}
		{% ifequal evento.tipo 'X' %}
			<tr bgcolor='{{ colors.normal }}'>
		{% endifequal %}
			<td bgcolor='black'><a href='/sme2/evento/fechar/{{evento.monitor.mon_id}}/{{evento.id}}'><img src=/media/images/icon-yes.gif border=0></a></td>
			<td class="sme2-evento">{{evento.get_data_hora_formatada}}</td>
			<td class="sme2-evento">{{evento.servidor}}</td>
			{% for ordem, metadado in evento.metadados.items %}
				<td class="sme2-evento">{{metadado.valor}}</td>
			{% endfor %}
		<tr>
	{% endfor %}
</table>
</center>

{% endblock %}




