{% extends "base.html" %}
{% block title %}SME2 - Admin{% endblock %}

{% block stylesheet %}

<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
<link rel="stylesheet" type="text/css" href="/media/css/sme2_admin.css" />

<!-- Calendario JS -->
<link rel="stylesheet" type="text/css" href="/media/css/jscal2.css" />
<link rel="stylesheet" type="text/css" href="/media/css/border-radius.css" />
<link rel="stylesheet" type="text/css" href="/media/css/win2k/win2k.css" />

<style type="text/css">
	
</style>

{% endblock %}
	
{% block javascript %}
<script src="/media/js/jsi18n.js" type="text/javascript"></script>
<script src="/media/js/core.js"></script>
<script src="/media/js/application.js" type="text/javascript"></script>

<script src="/media/js/sme2_admin.js"></script>

<script src="/media/js/jscal2.js"></script>
<script src="/media/js/pt.js"></script>


<script type="text/javascript">
	
</script>


<script type="text/javascript">
	var produtos_alarmes_json = {{ produtos_alarmes|safe }}
	var alarmes_monitores_json = {{ alarmes_monitores|safe }}

	/*Funcao para adicionar o efeito do slide nos boxes*/
	function init() {
		//console.log("body loaded")
		
		this.options = {
	      portal: 'portal',
	      column: 'portal-column',
	      block: 'block',
	      content: 'content',
	      handle: 'handle',
	      hoverclass: 'block-hover',
	      toggle: 'block-toggle',
	      blocklist: 'portal-column-block-list',
	      blocklistlink: 'portal-block-list-link',
	      blocklisthandle: 'block-list-handle',
	    }
	
	    var blocks = document.getElementsByClassName(
	      this.options.block, this.options.portal
	    );
	
	    blocks.each(
	      function (block) {
	        var content = Element.childrenWithClassName(
	          block, this.options.content, true
	        );

	        var toggle = Element.childrenWithClassName(
	          block, this.options.toggle, true
	        );
	        Event.observe(
	          toggle, 'click', 
	          function (e) { Effect.toggle(content, 'Slide'); },
	          false
	        );

	      }.bind(this)
	    );
		
		for (var container in settings) {
	      settings[container].each(function (block) {
	        $(container).appendChild($(block));
	      });
	    }

	}
	Event.observe(window, 'load', init, false);

</script>


{% endblock %}

{% block content %}

<div id="portal">
	<div class="block" id="block-sme2-admin">
		<h3 class="handle"><a class="block-toggle"><span>toogle</span></a><a name="relatorio">SME2 - Admin</a></h3>
		<div class="content">
			{% if erro %}
			<center><h2><font color=red>Por favor, preenche todos os campos</font></h2></center>
			{% endif %}
			<form name='frm' method=POST action=''>
				<span>Escolha a ação que deseja executar: </span><br>
				<select name=acao_id onChange=''>
					<option value="0">[Selecione uma ação]</option>
					<option id="id_acao_1" value="1" {% ifequal request.POST.acao_id|safe '1' %} selected{% endifequal %}>Desligar todos eventos de um monitor</option>
					<option id="id_acao_2" value="2" {% ifequal request.POST.acao_id|safe '2' %} selected{% endifequal %}>Ligar um evento de um monitor</option>
				</select><br><br>
				<span>Produto/Alarme/Monitor: </span><br>
				<!-- produto -->
				<select name=produto onChange='adicionaAlarmes(this.options[this.selectedIndex].value);'>
					<option value="0">[Selecione um produto]</option>
					{% for produto in produtos %}
						<option id="prd_{{ produto.prd_id }}" value="{{ produto.prd_id }}" {% ifequal produto.prd_id|safe request.POST.produto|safe %} selected{% endifequal %}>{{ produto.prd_nome }}</option>
					{% endfor %}
				</select>
				
				<!-- alarme -->
				<select name=alarme onChange='adicionaMonitores(this.options[this.selectedIndex].value);'>
					{% if alarmes %}
						<option value="0">[Selecione um alarme]</option>
						{% for alarme in alarmes %}
								<option id="alm_{{ alarme.prd_id }}" value="{{ alarme.alm_id }}" {% ifequal alarme.alm_id|safe request.POST.alarme|safe %} selected{% endifequal %}>{{ alarme.alm_nome }}</option>
						{% endfor %}
					{% else %}
							<option value="0" selected>[Selecione um alarme]</option>
					{% endif %}
				</select>
				<!-- monitor -->
				<!--select name=monitor onChange='document.frm.submit();'-->
				<select name=monitor onChange=''>
					{% if monitores %}
						<option value="0">[Selecione um monitor]</option>
						{% for monitor in monitores %}
							<option id="mon_{{ monitor.mon_id }}" value="{{ monitor.mon_id }}" {% ifequal monitor.mon_id|safe request.POST.monitor|safe %} selected{% endifequal %}>{{ monitor.mon_nome }}</option>
						{% endfor %}
					{% else %}
						<option value="0" selected>[Selecione um monitor]</option>
					{% endif %}
				</select><br><br>
				<div id="eventos">
					Eventos
				</div>
				<center><input type="submit" value="executar ação"></center>
			</form>
			<br>
		</div>
	</div>
	<div id="resposta">
		{% if clicked %}
			
		{% endif %}
	</div>

</div>


{% endblock %}
