{% extends "admin/index.html" %}

{% load memcache_status_tags %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}

<div class="module">
<table summary="SME2.">
<caption><a href="sme2/" class="section">SME2</a></caption>

    <tr>
        <th scope="row"><a href="sme2s/sme/">SME2</a></th>
        <td><a href="sme2s/sme2/add/" class="addlink">Add</a></td>
        <td><a href="sme2s/sme2/" class="changelink">Change</a></td>
    </tr>

</table>
</div>

    {{ block.super }}
{% endblock %}
