#id-menu {
	background: black;
	text-align: left;
}

#portal {
	/*margin: 1px auto;*/
	padding: 1px;
	/*position: relative;*/
	position: left;
	width:100%;
	border: 0px solid;
	background: black;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}

#portal h2 {
  text-align: center;
}

/*
#portal-column-0 { 
  float:left;
  width: 41%;  
  background: WhiteSmoke;
}

#portal-column-1 {
  float:left;
  width: 58%;
  background: WhiteSmoke;
}   

#portal-column-bottom { 
  width: 99%;
  background: WhiteSmoke;
  clear: both;
}
*/

   /*lista das visoes */
#portal-column-block-list { 
  position: absolute;
  width: 200px;
  right: 5px;
  left: 5px;
  z-index: 10;
  background-color: #FFEAB1;
}

.portal-column {
	margin: 1px auto;
	font-style: italic;
	background-color: WhiteSmoke;
	border: 1px solid;
	color: black;
}

/* Definicoes dos boxes das visoes */
#portal .block {
  margin: 1px;
  padding: 2px;
  border: 0px solid #0F3974;
}
#portal .block h3 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: CornflowerBlue;
}

#portal .block .content {
  padding: 2px;
}

/*
nao precisa na interface para o usuario
*/
#portal .block .block-toggle {
  /*background-image: url(/media/images/block-slide.png);*/
  position: relative;
  background-image: url(/media/images/minimize_icon_resized.png);
  display: block;
  float: right;
  top: -6px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#portal .block .block-info {
	position: absolute;
	right: 50px;
}

/* Fim das visoes */

/* inicio */

#portal .block .block-toggle span {
  display: none;
}

#portal .block-hover {
  border: 1px dashed #f00;
}

/*
nao precisa na interface para o usuario
#portal .block-list-handle, #portal .handle {
  cursor: move;
}
*/
#portal #portal-column-block-list .block .block-toggle {
  display: none;
}

/*escondo conteudo dos box das visoes no container com a lista de visoes disponiveis */
#portal #portal-column-block-list .block .content {
  display: none;
}