
#portal h2 {
  text-align: center;
}

/*lista das visoes */
#portal-column-block-list { 
  position: absolute;
  padding: 2px;
  width: 200px;
  top: 120px;
  right: 5px;
  z-index: 10;
  border: 1px solid;
  /*background-color: #FFEAB1;*/
  background-color: black;
}

#id-adicionar-visao {
	padding: 1px;
	width:12%;
	height:18px;
	border: 1px solid;
	font-family: verdana, arial, sans-serif;
	border-color: black;
	color: white;
	font-size: 12px;
	background-color: CornflowerBlue;
}


/* Definicoes dos boxes das visoes */
#portal .block {
  margin: 5px;
  padding: 2px;
  border: 1px solid #0F3974;
}
#portal .block h3 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: CornflowerBlue;
}

#portal .block .content {
  padding: 5px;
  /* adicionado para remover o conteudo da visao */
  /*display: none;*/
}

#portal .block .block-toggle {
  padding: 5px;
  background-image: url(/media/images/block-slide.png);
  display: block;
  /*display: none;*/
  float: right;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#portal .block .block-delete {
  background-image: url(/media/images/delete.png);
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Fim das visoes */

/* inicio */

#portal .block .block-toggle span {
  display: none;
}

#portal .block-hover {
  border: 1px dashed #f00;
}

#portal .block-list-handle, #portal .handle {
  cursor: move;
}

#portal #portal-column-block-list .block .block-toggle {
  display: none;
}

#portal #portal-column-block-list .block .block-delete {
  display: none;
}

/*escondo conteudo dos box das visoes no container com a lista de visoes disponiveis */
#portal #portal-column-block-list .block .content {
  display: none;
}

#portal .form-row.metadado {
  display: none;
}