/*
body { 
  margin:10px; 
  padding:0; 
  font-size:12px;
  font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; 
  color:gray; 
  background:black; 

}
*/
/* LINKSSSSS */
a:link, a:visited { color: white; text-decoration:none; }
a:hover { color: white; }
a img { border:none; }
a.section:link, a.section:visited { color: white; text-decoration:none; }

/* GLOBAL DEFAULTS */
p, ol, ul, dl { margin:.2em 0 .8em 0; }
p { padding:0; line-height:140%; }

h1,h3,h4,h5 { font-weight:bold; }
h1 { font-size:18px; color:#666; padding:0 6px 0 0; margin:0 0 .2em 0; }
h2 { font-size:16px; margin:1em 0 .5em 0; color:white; }
h3 { font-size:14px; margin:.8em 0 .3em 0; color:white; font-weight:bold; }
h4 { font-size:12px; margin:1em 0 .8em 0; padding-bottom:3px; }
h5 { font-size:10px; margin:1.5em 0 .5em 0; color:#666; text-transform:uppercase; letter-spacing:1px; }


.all {
  position: absolute;
  background-color: black;
  margin: 20px 0 20px -390px;
  width: 760px;
  left: 50%;
  border: 5px solid #aaa;
}

	

/* TABLES */
table { border-collapse:collapse; border-color:#ccc; }
td.sme2-alarme, th.sme2-produto, th.sme2-monitor { 
	color: white;
}

.sme2-voltar a:link {color: CornflowerBlue; text-decoration: none}
.sme2-voltar a:visited {color: CornflowerBlue; text-decoration: none}
.sme2-voltar a:active {color: CornflowerBlue; text-decoration: none}
.sme2-voltar a:hover {text-decoration: underline; color: white;}

td.sme2-alarme a:link {color: white;text-decoration: none}
td.sme2-alarme a:visited {color: white;text-decoration: none}
td.sme2-alarme a:active {color: white;text-decoration: none}
td.sme2-alarme a:hover {text-decoration: underline; color: white;}

th.sme2-monitor a:link {color: white;text-decoration: none}
th.sme2-monitor a:visited {color: white;text-decoration: none}
th.sme2-monitor a:active {color: white;text-decoration: none}
th.sme2-monitor a:hover {text-decoration: underline; color: white;}

td.sme2-evento a:link {color: white;text-decoration: none}
td.sme2-evento a:visited {color: white;text-decoration: none}
td.sme2-evento a:active {color: white;text-decoration: none}
td.sme2-evento a:hover {text-decoration: underline; color: white;}

td { color: white; text-align:center; font-size:11px; line-height:13px; border-bottom:0px solid #eee; vertical-align:top; padding:5px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }
th { color: white; text-align:left; font-size:12px; font-weight:bold; line-height:13px; border-bottom:1px solid #eee; vertical-align:top; padding:5px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }

thead th, 
tfoot td { color:#666; padding:2px 5px; font-size:11px; background:#e1e1e1 url(/media/images/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
tfoot td { border-bottom:none; border-top:1px solid #ddd; }
thead th:first-child, 
tfoot td:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
fieldset table { border-right:1px solid #eee; }
tr.row-label td { font-size:9px; padding-top:2px; padding-bottom:0; border-bottom:none; color:#666; margin-top:-1px; }
tr.alt { background:#f6f6f6; }
.row1 { background:#EDF3FE; }
.row2 { background:white; }
