<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Template | {{ template.nome }}</title>
	<link rel="stylesheet" type="text/css" href="/media/css/modelo/{{ template.nome_arquivo_css }}" />

</head>
<body>

	<div id="portal">
	      <div class="portal-column" id="portal-column-0">
			<h2>Coluna 0</h2>
		  </div>
	      <div class="portal-column" id="portal-column-1">
			<h2>Coluna 1</h2>
		  </div>
	      <div class="portal-column" id="portal-column-bottom">
			<h2>Rodapé</h2>
		  </div>
	</div>

</body>
</html>