{% extends "base.html" %}

{% block title %}CWA - Test Page{% endblock %}

{% block stylesheet %}
<style type="text/css">

	#portal {
	  margin: 1px auto;
	  padding: 3px;
	  /*position: relative;*/
	  width:95%;
	  border: 2px solid;
	  background: PowderBlue;
	  font-family: verdana, arial, sans-serif;
	  font-size: 10px;
	}

	#portal h2 {
	  /*color: black;*/
	  text-align: center;
	}
	
	#portal-column-0 { 
	  float:left;
	  width: 30.4%;  
	  background: WhiteSmoke;
	}

	#portal-column-1 {
	  float:left;
	  width: 48%;
	  background: WhiteSmoke;
	}   

	#portal-column-2 { 
	  float:left;
	  width: 21%;  
	  background: WhiteSmoke;
	}

	#portal-column-bottom { 
	  width: 99%;
	  background: WhiteSmoke;
	  clear: both;
	}

    /*lista das visoes */
	#portal-column-block-list { 
	  position: absolute;
	  width: 200px;
	  top: 250px;
	  left: 5px;
	  z-index: 10;
	  background-color: #FFEAB1;
	}
		
	.portal-column {
		margin: 1px auto;
		font-style: italic;
		background-color: WhiteSmoke;
		border: 1px solid;
		color: black;
	}

	/* Definicoes dos boxes das visoes */
	#portal .block {
	  margin: 5px;
	  padding: 2px;
	  border: 1px solid #0F3974;
	}
	#portal .block h3 {
	  margin: 0;
	  padding: 5px;
	  font-size: 14px;
	  text-align: center;
	  color: #fff;
	  background-color: red;
	}

	#portal .block .content {
	  padding: 5px;
	}

	#portal .block .block-toggle {
	  background-image: url(images/block-slide.png);
	  display: block;
	  float: right;
	  width: 7px;
	  height: 7px;
	  background-repeat: no-repeat;
	  background-position: center;
	  cursor: pointer;
	}

	/* Fim das visoes */

	/* inicio */

	#portal .block .block-toggle span {
	  display: none;
	}

	#portal .block-hover {
	  border: 1px dashed #f00;
	}

	#portal .block-list-handle, #portal .handle {
	  cursor: move;
	}

	#portal #portal-column-block-list .block .block-toggle {
	  display: none;
	}

	/*escondo conteudo dos box das visoes no container com a lista de visoes disponiveis */
	#portal #portal-column-block-list .block .content {
	  display: none;
	}

</style>

{% endblock %}
	
{% block javascript %}

<script type="text/javascript" src="/media/js/portal.js"></script>
<script type="text/javascript">

  var settings = {};
  var portal;
  function init() {
    portal = new Portal();
    portal.applySettings(settings);
  }
  Event.observe(window, 'load', init, false);

</script>

{% endblock %}

{% block content %}

<center><h1>CWA test page</h1></br></center>
<center><a href="#" id="portal-block-list-link">Adicionar visão</a></center><br />
<div id="portal">
      <div class="portal-column" id="portal-column-0">
		<h2>Coluna 0</h2>
	  </div>
      <div class="portal-column" id="portal-column-1">
		<h2>Coluna 1</h2>
	  </div>
      <div class="portal-column" id="portal-column-2">
		<h2>Coluna 2</h2>
	  </div>
      <div class="portal-column" id="portal-column-bottom">
		<h2>Bottom</h2>
	  </div>
		<!--div class="portal-column" id="portal-column-block-list" style="display: none;"-->
		<div class="portal-column" id="portal-column-block-list" style="display: none;">
			<h2 class="block-list-handle">Visões</h2>
			<p>Selecione uma visão e arraste para uma das áreas disponíveis</p>
			<!-- Visoes vao aqui-->
			<!-- Visao tabular-->
			<div class="block">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a>Visão tabular</h3>
				<div class="content">
					<h2>conteudo visao tabular</h2>
				</div>
			</div>
			<!-- fim visao tabular-->
			
			<!-- Visao hierarquica-->
			<div class="block">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a>Visão hierárquica</h3>
				<div class="content">
					<h2>conteudo visao hierarquica</h2>
				</div>
			</div>
			<!-- fim visao hierarquica-->
			
			<!-- Visao relatorio-->
			<div class="block">
				<h3 class="handle"><a class="block-toggle"><span>toogle</span></a>Visão relatório</h3>
				<div class="content">
					<h2>conteudo visao relatorio</h2>
				</div>
			</div>
			<!-- fim visao hierarquica-->
		</div>

</div> <!-- fim do div portal -->

{% endblock %}





