<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Dissertation test page</title>
  <link rel="stylesheet" href="/media/css/page.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/media/css/portal_widget_theme.css" type="text/css" media="screen" charset="utf-8" />

  <script type="text/javascript" src="/media/js/prototype.js"></script> 
  <script type="text/javascript" src="/media/js/effects.js"></script> 
  <script type="text/javascript" src="/media/js/builder.js"></script> 
  <script type="text/javascript" src="/media/js/dragdrop.js"></script> 
  <script type="text/javascript" src="/media/js/portal.js"></script>

</head>
<body>

<EMBED src="/media/swf/charts.swf" FlashVars="library_path=/media/swf/charts_library&xml_source=/media/xml/sample.xml" quality="high" bgcolor="#666666" WIDTH="400" HEIGHT="250" NAME="charts" allowScriptAccess="sameDomain" swLiveConnect="true" loop="false" scale="noscale" salign="TL" align="middle" wmode="opaque" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"/>

</body>